
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 100%;
  height: 56px;

  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    #robot {
      position: absolute;
      transform: rotate(180deg) translateX(-50%);
      z-index: -1;
      width: 36px;
      left: 50%;
      top: 2px;
      transition: 1s ease-in-out;
    }

    #hc-logo {
      height: 25px;
      padding-left: 16px;
      padding-bottom: 5px;
    }

    .app-title {
      padding-left: 6px;
    }
  }

  .person-container {
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 100%;
    align-items: center;

    .person-name {
      padding-right: 12px;
      text-align: end;

      span, h3 {
        text-align: end;
      }

      .department-name {
        font-size: 16px;
        font-weight: bold;

        span {
          font-weight: normal;
          margin-left: 4px;
        }
      }
    }
  }
}

#person-name, #department-name, #person-department-info-divider {
  display: none;
}

@media screen and (max-width: 856px) {
  .person-container {
    .person-name {
      display: none !important;
    }
  }

  #person-name, #department-name, #person-department-info-divider {
    display: block !important;
  }
}

@media screen and (max-width: 500px) {
  .person-container {
    .person-name {
      display: none !important;
    }
  }

  #person-name, #department-name, #person-department-info-divider {
    display: block !important;
  }
}

@media screen and (min-width: 856px) {
  app-breadcrumb-navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
