<ng-container>
  <div class="header">
    <div class="logo" (click)="onLogoClick()">
      <img id="robot" alt="robot" src="/assets/images/robot.png">
      <img (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" id="hc-logo" src="/assets/images/hc-logo.png" alt="HC Logo">
      <span class="app-title">HealthCheck</span>
    </div>
    <app-breadcrumb-navigation></app-breadcrumb-navigation>
    <div class="person-container" [matMenuTriggerFor]="userMenu">
      <div class="person-name">
        <h3>{{person.getFullName()}}</h3>
        @if (currentGroup) {
          <span class="department-name">{{currentGroup.name}} @if (currentGroup.isDepartment()) {
            <span>({{currentGroup.cantonName}})</span>
          }</span>
        }
      </div>
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>
  <mat-menu #userMenu xPosition="before" yPosition="below" class="custom-menu-container">
    <span mat-menu-item id="person-name">{{person.getFullName()}}</span>
    @if (currentGroup) {
      <span mat-menu-item id="department-name">{{currentGroup.name}} @if (currentGroup.isDepartment()) {
        <span>({{currentGroup.cantonName}})</span>
      }</span>
    }
    <mat-divider id="person-department-info-divider"></mat-divider>
    @if (person.groups.length > 0) {
      <button mat-menu-item (click)="openGroupContextDialog()">{{ 'menu.switchGroup' | translate }}</button>
    }
    <span mat-menu-item id="open-profile" (click)="openPersonGamificationProfile()">{{ 'menu.profile' | translate }}</span>
    @if (showInviteMenuAction()) {
      <button mat-menu-item (click)="openInviteDialog()">{{ 'menu.invite' | translate }}</button>
    }
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">{{ 'menu.logout' | translate }}</button>
  </mat-menu>
</ng-container>

<ng-template #permissionView>
  <app-permission-view></app-permission-view>
</ng-template>
