<div class="detail-content">
  <div class="title-bar">
    <h1 class="title">{{'quap.detail.title' | translate}} <span *ngIf="aspects.length === 1">- {{aspects[0].name}}</span></h1>

    <div class="button-bar">
      <button mat-icon-button (click)="switchToEvaluationView()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="description" *ngIf="aspects.length === 1">
    <details>
      <summary>{{'quap.detail.description' | translate}}</summary>
      <p>{{aspects[0].description}}</p>
    </details>
  </div>

  <div class="content" *ngIf="aspectHelp">
    <span class="no-help" *ngIf="!hasHelp()">{{'quap.detail.no-help' | translate}}</span>

    <div class="aspect" *ngFor="let aspect of aspects">
      <span class="aspect-name" *ngIf="aspects.length > 1 && aspectHelp[aspect.id].help.length > 0">{{aspect.name}}</span>
      <ng-container *ngFor="let help of aspectHelp[aspect.id].help">
        <div [ngClass]="['severity', getColor(aspect.id, help.questionId, help.severity)]" *ngIf="help.answer > 1 && help.answer < 5">
          <p>{{help.help}}</p>

          <div class="link-container" *ngIf="help.links">
            <a *ngFor="let link of help.links" href="{{link.url}}" target="_blank" rel="noopener noreferrer">{{link.name}}</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
