@import "src/app/tabs/components/tabs/quap/quap-tab/quap-tab.component";

.detail-content {

  .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;

    .button-bar {
      display: flex;
      flex-direction: row;
    }
  }

  .content {
    max-height: 650px;

    border: 1px solid black;

    overflow-y: auto;

    .aspect {
      .aspect-name {
        font-weight: bold;
      }

      .severity {
        padding: 5px;

        border: 1px dotted gray;

        &.yellow {
          background-color: $quap-color-yellow;
        }

        &.orange {
          background-color: $quap-color-orange;
        }

        &.red {
          background-color: $quap-color-red;
        }

        .link-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      div:nth-last-child(1) {
        border: none;
      }
    }
  }

}
