.dialog-header {
  display: flex;
  justify-content: space-between;

  padding-bottom: 10px;
}

.content {
  // offset and padding
  max-height: min(600px, calc(100vh - 120px - 48px));
  overflow-y: auto;
}

table {
  width: 100%;
  margin-bottom: 16px;

  .text-right {
    text-align: end;
  }

  td.mat-mdc-footer-cell {
    border-bottom: none;
  }
}

@media screen and (max-width: 1080px) {
  .content {
    // offset and padding
    max-height: min(450px, calc(100vh - 186px - 48px));
  }
}

@media screen and (max-width: 500px) {
  .content {
    // offset and padding
    max-height: min(200px, calc(100vh - 208px - 48px));
  }
}

.create-permission {
  p {
    margin-bottom: 12px;
  }

  mat-form-field {
    margin-right: 16px;
  }

  .submit-button {
    float: right;
    margin-top: 10px;
    margin-right: 16px;
    padding: 10px !important;
    background-color: rgba(61, 215, 38, 0.09) !important;
    color: rgb(61, 215, 38) !important;
  }

  .submit-button.mdc-button:disabled {
    background-color: rgba(255, 255, 255, 0.09) !important;
    color: rgba(0, 0, 0, 0.26) !important;
  }
}