<div>
  <div class="dialog-header">
    <h1 class="title">{{'dialog.invite.title' | translate}}</h1>

    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <p>{{'dialog.invite.content' | translate}}</p>

  <div class="content">
    <table mat-table [dataSource]="permissions">
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>{{'dialog.invite.table.email' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>

      <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef>{{'dialog.invite.table.permission' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{('dialog.invite.table.permissions.' + element.permissionType) |
          translate}}</td>
      </ng-container>

      <ng-container matColumnDef="expiration">
        <th mat-header-cell *matHeaderCellDef>{{'dialog.invite.table.expiration' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{ getFormattedExpirationDate(element) | async }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-right"></th>
        <td mat-cell *matCellDef="let element" class="text-right">
          <span
            [matTooltip]="(isRenewable$(element) | async) ? ('dialog.invite.renew-tooltip' | translate ) : ('dialog.invite.no-renew-tooltip' | translate )"
            matTooltipPosition="left">
            @if (element.expirationDate) {
            <button mat-icon-button [disabled]="!(isRenewable$(element) | async)" (click)="renew(element)">
              <mat-icon>autorenew</mat-icon>
            </button>
            }
          </span>

          <span
            [matTooltip]=" !element.expirationDate ? ('dialog.invite.no-delete-tooltip' | translate ) : ('dialog.invite.delete-tooltip' | translate )"
            matTooltipPosition="left">
            <button mat-icon-button color="warn" [disabled]="!element.expirationDate" (click)="delete(element)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="create-permission">
      <p>{{'dialog.invite.table.invite-title' | translate}}</p>

      <div class="form">
        <mat-form-field>
          <input [placeholder]="'dialog.invite.table.email' | translate" matInput [formControl]="emailFormControl">
          @if (emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')) {
          <mat-error>
            {{ 'dialog.invite.form.email.invalid' | translate }}
          </mat-error>
          }
          @if (emailFormControl.hasError('required')) {
          <mat-error>
            {{ 'dialog.invite.form.email.required' | translate }}
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-select [placeholder]="'dialog.invite.table.permission' | translate"
            [formControl]="permissionFormControl">
            <mat-option value="owner" disabled>{{'dialog.invite.table.permissions.owner' | translate}}</mat-option>
            <mat-option value="editor-plus"
              [disabled]="isGroupType$(GroupType.DEPARTMENT_KEY) | async">{{'dialog.invite.table.permissions.editor-plus'
              | translate}}</mat-option>
            <mat-option value="editor">{{'dialog.invite.table.permissions.editor' | translate}}</mat-option>
            <mat-option value="viewer">{{'dialog.invite.table.permissions.viewer' | translate}}</mat-option>
          </mat-select>
          @if (permissionFormControl.hasError('required')) {
          <mat-error>
            {{ 'dialog.invite.form.permission.required' | translate }}
          </mat-error>
          }
        </mat-form-field>

        <button mat-button class="submit-button" [disabled]="!formValid || loading"
          (click)="submit()">{{'dialog.invite.table.invite' | translate}}</button>
      </div>
    </div>
  </div>
</div>