
.dialog-header {
  display: flex;
  justify-content: space-between;

  padding-bottom: 10px;
}

table {
  width: 100%;

  .text-right {
    text-align: end;
  }

  td.mat-footer-cell {
    padding-bottom: 10px;
  }
}

.input-spacer {
  height: 80px;
}

.input-spacer p {
  padding-top: 55px;
  transform: translateX(-20px);
}
