
.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-auto-rows: 320px;
  grid-gap: 12px;

  justify-items: center;
  align-items: center;

  width: 1600px;
  margin: 0 auto;

  padding-top: 24px;
}

.card {
  cursor: pointer;

  .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

::ng-deep {
  .loading-div {
    position: relative !important;
    transform: translate(-50%, 0) !important;
  }
}

@media screen and (max-width: 1624px) {
  .app-grid {
    width: 100%;
  }
}
