@for (section of layout; track $index) {
  <div class="section">
    @if (section.titleTranslationKey) {
      <h2 class="title">{{ section.titleTranslationKey | translate}}</h2>
    }

    <div class="app-grid">
      @for (app of section.apps; track app.key) {
        <div class="card" (click)="goTo(app)">
          <div class="card-header">
            <h2>{{ getTranslationKey(app) | translate }}</h2>
              @switch (app.key) {
                @case ('my-organization') {
                  <!--
                    <app-info class="chart-info" messageKey="chart.info-no-leader" iconClass="icon-info" colorCode="blue"></app-info>
                    -->
                    <app-my-organization-preview-tooltip />
                }
              }
          </div>

          <div class="card-content">
            @switch (app.key) {
              @case ('overview') {
                <app-widgets-app-preview />
              }
              @case ('quap') {
                <app-quap-app-preview />
              }
              @case ('quap-departments') {
                <app-quap-departments-app-preview />
              }
              @case ('census') {
                <app-census-app-preview style="width: 100%;" />
              }
              @case ('overview-departments') {
                <app-overview-departments-app-preview />
              }
              @case ('my-organization') {
                <app-my-organization-preview-chart />
              }
            }          
          </div>
        </div>
      }
    </div>
  </div>
}
