<div class="widget-card">
  <div class="card-header">
    <h2 class="chart-title"></h2>
    <app-widget-info class="chart-info" messageKey="chart.leader-overview.info" iconClass="icon-info" colorCode="blue"></app-widget-info>
  </div>
  <div class="scroll-indicator left" #leftIndicator @fadeOut *ngIf="showIndicators">
    <i class="icon-arrow-left"></i>
  </div>
  <div class="leader-overview-flex-container" [style.cursor]="cursor" #itemContainer (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)">
    <app-leader-overview-section *ngFor="let g of leaderData" [group]="g"></app-leader-overview-section>
  </div>
  <div class="scroll-indicator right" #rightIndicator @fadeOut *ngIf="showIndicators">
    <i class="icon-arrow-right"></i>
  </div>
</div>
<!--<div class="leader-overview-flex-container" (scroll)="onScroll($event)">-->
<!--  <div class="scroll-indicator left" #leftIndicator @fadeOut *ngIf="showIndicators">-->
<!--    <i class="icon-arrow-left"></i>-->
<!--  </div>-->
<!--  <app-leader-overview-card *ngFor="let g of leaderData"-->
<!--                            [leaderOverviewGroup]="g"-->
<!--                            [scrollOffsetX]="scrollOffsetXSubject.asObservable()">-->
<!--  </app-leader-overview-card>-->
<!--  <div class="scroll-indicator right" #rightIndicator @fadeOut *ngIf="showIndicators">-->
<!--    <i class="icon-arrow-right"></i>-->
<!--  </div>-->
<!--</div>-->
