.content {
  max-width: 464px;
  p, mat-form-field {
    margin-bottom: 12px;
  }
  mat-form-field {
    min-width: 296px;
  }
}
.invite-table {
  width: 100%;
  .email-col {
    width: 40%;
  }
  .date-col {
    width: 40%;
  }
  .action-col {
    width: 20%;
    button {
      float: right;
    }
  }
}
