
<app-content>
  <ng-container header>
    <div class="tab-container">
      <a class="return-link" routerLink="/widgets">< {{ 'tabs.back' | translate }}</a>
      <app-tab-menu></app-tab-menu>
    </div>
    <app-date-picker-input *ngIf="config.datePicker.dateRange || config.datePicker.datePoint"></app-date-picker-input>
  </ng-container>
  <ng-container body>
    <ng-template appTab></ng-template>
    <div *ngIf="loading">
      <app-loading></app-loading>
    </div>
  </ng-container>
</app-content>
