<div class="gamification-card">
  <div class="beta-wrapper">
    <div class="icon-and-title">
      <div class="icon">
        <img id="robot" alt="Level Icon" [src]="'/assets/images/gamification/icons/' + levelKey + '.jpg'" height="80">
      </div>
      <div>
        <h2>{{name}}</h2>
        <p>{{title}}</p>
      </div>
    </div>
    <app-beta-access></app-beta-access>
  </div>
  <div class="badges">
    <p>{{'gamification.badges' | translate}}</p>
    <div>
      <img [matTooltip]="badge.name" *ngFor="let badge of badges" [src]="'/assets/images/gamification/badges/' + badge.imgSrc + '.png'">
    </div>
  </div>
</div>
