<div class="login-container">
  <div class="login-card">
    <img src="/assets/images/hc-mascott.gif" alt="">
    <div>
      <h1>HealthCheck</h1>
      <button mat-stroked-button appLoadingButton [loading]="loading" [disabled]="loading" (click)="login()">
        {{ 'button.login' | translate }}
      </button>
    </div>
  </div>
  <div>
    <ng-container *ngIf="statusMessage">
      <div class="status-banner" [ngClass]="statusMessage.severity">
        <h1>
          {{statusMessage.title}}
        </h1>
        <p>
          {{statusMessage.body}}
        </p>
      </div>
    </ng-container>
  </div>
  <img id="pbs-logo" [src]="'pbs-logo' | translate" alt="PBS Logo">
  <app-footer [absolute]="true" [skipLastImport]="true"></app-footer>
</div>
