
.loading-div {

  display: flex;
  justify-content: center;
  align-items: center;

  &.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  i {
    color: #BFC2C3;
    font-size: 64px;
    animation: rotate 2s infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
