@use "src/app/tabs/components/tabs/quap/quap-tab/quap-tab.component";

.legend {
  flex-direction: column;
  gap: 10px;
  align-items: stretch;

  display: flex;

  border: solid 1px;
  border-radius: 6px;
  width: 200px;
  padding: 10px;

  background-color: white;

  h3 {
    font-size: 18px;
  }

  .entry {
    flex-direction: row;
    align-items: center;
    gap: 20px;

    display: flex;

    font-size: 14px;

    .square {
      border: solid 1px black;
      width: 30px;
      height: 30px;

      &.purple {
        background-color: quap-tab.$quap-color-green;
      }

      &.blue {
        background-color: quap-tab.$quap-color-yellow;
      }

      &.green {
        background-color: quap-tab.$quap-color-orange;
      }

      &.yellow {
        background-color: quap-tab.$quap-color-red;
      }

      &.grey {
        background-color: quap-tab.$quap-color-gray;
      }
    }
  }
}
