<div class="legend"><!-- TODO use translation-->
  <h3>Legende</h3>
  <div class="entry">
    <div class="square purple"></div>
    <span>{{ 'quap.answers.fully_applies' | translate }}</span>
  </div>
  <div class="entry">
    <div class="square blue"></div>
    <span>{{ 'quap.answers.partially_applies' | translate }}</span>
  </div>
  <div class="entry">
    <div class="square green"></div>
    <span>{{ 'quap.answers.somewhat_applies' | translate }}</span>
  </div>
  <div class="entry">
    <div class="square yellow"></div>
    <span>{{ 'quap.answers.dont_applies' | translate }}</span>
  </div>
  <div class="entry">
    <div class="square grey"></div>
    <span>{{ 'quap.answers.not_relevant' | translate }}</span>
  </div>
  <div class="entry">
    <div class="square"></div>
    <span>{{ 'quap.answers.unanswered' | translate }}</span>
  </div>
</div>
