<svg width="450" height="670" viewBox="0 0 450 670" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <style>
    div.legend-text {
      display: flex;
      align-items: center;

      height: 100%;

      font-size: 26px;
    }

    div.legend-title {
      font-size: 52px;
    }
  </style>
  <g>
    <rect x="1.5" y="1.5" width="447" height="637" rx="28.5" fill="white" stroke="black" stroke-width="3"/>
    <foreignObject x="26.5" y="26.5" width="490" height="80" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
      <xhtml:div xmlns="http://www.w3.org/1999/xhtml" class="legend-text legend-title">
        <span>{{'quap.graph.legend' | translate}}</span>
      </xhtml:div>
    </foreignObject>
    <rect x="26.5" y="131.5" width="57" height="57" fill="#287D8E" stroke="black" stroke-width="3"/>
    <foreignObject x="101.5" y="141.5" width="490" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
      <xhtml:div xmlns="http://www.w3.org/1999/xhtml" class="legend-text">
        <span>{{'quap.answers.fully_applies' | translate}}</span>
      </xhtml:div>
    </foreignObject>
    <rect x="26.5" y="216.5" width="57" height="57" fill="#20A387" stroke="black" stroke-width="3"/>
    <foreignObject x="101.5" y="226.5" width="490" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
      <xhtml:div xmlns="http://www.w3.org/1999/xhtml" class="legend-text">
        <span>{{'quap.answers.partially_applies' | translate}}</span>
      </xhtml:div>
    </foreignObject>
    <rect x="26.5" y="301.5" width="57" height="57" fill="#73D055" stroke="black" stroke-width="3"/>
    <foreignObject x="101.5" y="311.5" width="490" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
      <xhtml:div xmlns="http://www.w3.org/1999/xhtml" class="legend-text">
        <span>{{'quap.answers.somewhat_applies' | translate}}</span>
      </xhtml:div>
    </foreignObject>
    <rect x="26.5" y="386.5" width="57" height="57" fill="#FDE735" stroke="black" stroke-width="3"/>
    <foreignObject x="101.5" y="396.5" width="490" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
      <xhtml:div xmlns="http://www.w3.org/1999/xhtml" class="legend-text">
        <span>{{'quap.answers.dont_applies' | translate}}</span>
      </xhtml:div>
    </foreignObject>
    <rect x="26.5" y="471.5" width="57" height="57" fill="#C4C4C4" stroke="black" stroke-width="3"/>
    <foreignObject x="101.5" y="481.5" width="490" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
      <xhtml:div xmlns="http://www.w3.org/1999/xhtml" class="legend-text">
        <span>{{'quap.answers.not_relevant' | translate}}</span>
      </xhtml:div>
    </foreignObject>
    <rect x="26.5" y="556.5" width="57" height="57" fill="#FFFFFF" stroke="black" stroke-width="3"/>
    <foreignObject x="101.5" y="566.5" width="490" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
      <xhtml:div xmlns="http://www.w3.org/1999/xhtml" class="legend-text">
        <span>{{'quap.answers.unanswered' | translate}}</span>
      </xhtml:div>
    </foreignObject>
  </g>
</svg>
