@if (loading) {
  <app-loading />
}
@if (!loading) {
  <div class="gamification-wrapper">
    <app-person-header [title]="gamification.title"></app-person-header>
    @for (level of gamification.levels; track level) {
      <app-level-card [level]="level" [isComplete]="isLevelComplete(level)"></app-level-card>
    }
    @if (resetEnabled) {
      <button [disabled]="resetting" (click)="resetGamification()">TESTING: reset gamification <app-info position="bottom-right" iconClass="icon-info" rawMessage="Dieser Button löscht dein Gamification Profil und ist nicht umkehrbar! Nach dem Zurücksetzen hast du ein neues Profil ohne jeglichen Fortschritt. (Ausnahme: Logins)"></app-info></button>
    }
  </div>
}
