
<app-loading *ngIf="loading"></app-loading>

<div class="card" *ngIf="!loading">
  <div class="card-header">
    <h2 class="chart-title">{{ 'quap.overview.department.title' | translate: { department: data.groupName } }}</h2>
    <div class="button-menu">
      <app-info *ngIf="!settings.showNotRelevant" messageKey="quap.settings.info" colorCode="blue" iconClass="icon-info"></app-info>
      <button mat-icon-button (click)="openDetailDialog()" [title]="'quap.detail.title' | translate">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button (click)="openEvaluationDialog()" [title]="'quap.evaluation.title' | translate">
        <mat-icon>assignment</mat-icon>
      </button>
      <button mat-icon-button (click)="openSettingsDialog()" [title]="'quap.settings.title' | translate">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <div class="chart-container" *ngIf="data && questionnaire">
    <app-graph-container [questionnaire]="questionnaire" [answers]="data.answers" [computedAnswers]="data.computedAnswers" [disabled]="true" [groupType]="data.groupType"></app-graph-container>
  </div>
</div>
