.filter-chip {
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-right: 9px;
  height: 32px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  .indicator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .indicator {
      margin: 0 9px;
      width: 6px;
      height: 6px;
      border-radius: 6px;
    }
  }
}

.filter-chip, .indicator {
  transition: all 0.3s ease-in-out;
}
