
<ng-container *ngIf="!setupLoading else loading">
  <div class="header">
    <ng-content select="[header]"></ng-content>
  </div>
  <ng-container *ngIf="!dataError else noData">
    <ng-container *ngIf="!dataLoading else loading">
      <ng-content select="[body]"></ng-content>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
<ng-template #noData>
  <div class="centered-div">
    <h2>{{'notification.no-data' | translate}}</h2>
  </div>
</ng-template>
