<div *ngIf="initialized" class="type-filter-container">
  <app-filter-chip
    *ngFor="let pt of roles"
    [color]="pt.color"
    [selected]="pt.selected"
    (selectionChange)="onRoleFilterChange(pt, $event)"
  >
    {{'filter.' + pt.value | translate}}
  </app-filter-chip>
  <div class="filter-divider"></div>
  <app-filter-chip [selected]="filterMale" color="#6f6f6f" (selectionChange)="toggleM()">M</app-filter-chip>
  <app-filter-chip [selected]="filterFemale" color="#c9c9c9" (selectionChange)="toggleF()">W</app-filter-chip>
</div>
