.tab {
  display: flex;
  align-items: center;

  height: 32px;
  padding: 0 9px;

  background-color: white;
  color: rgb(146, 146, 146);
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);

  cursor: pointer;

  &.selected {
    background-color: rgb(146, 146, 146);
    color: white;
  }
}

.tab {
  transition: all 0.3s ease-in-out;
}
