<div class="widget-card">
  <div class="card-header">
    <h2 class="chart-title">
      {{ 'chart.group' | translate }}
      @if (!isRange) {
        <span>{{ 'chart.total' | translate: { total:  getTotal(null) } }}</span>
      }
    </h2>
    <app-info class="chart-info" messageKey="chart.info-no-leader" iconClass="icon-info" colorCode="blue"></app-info>
  </div>
  <div class="chart-container" #chartContainer>
    @if (isRange) {
      <app-custom-line-chart
        [view]="size()"
        [animations]="false"
        [roundDomains]="true"
        [results]="areaData()"
        [scheme]="colorScheme"
        [legend]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisTickFormatting]="monthYearDate"
        [yAxisTickFormatting]="wholeNumber"
        [rotateXAxisTicks]="false"
        [timeline]="false"
        [yScaleMin]="0"

        [rightResults]="lineData()"
        [rightScheme]="lineColorScheme"
        [rightShowGridLines]="false"
        [rightShowYAxisLabel]="true"
        [rightYAxisLabel]="departmentsTranslation()"
        [rightYAxisTickFormatting]="wholeNumber"
      >
      </app-custom-line-chart>
    }
    @else {
      <app-custom-pie-chart
        [view]="[chartContainer.clientWidth, chartContainer.clientHeight]"
        [animations]="false"
        [scheme]="colorScheme"
        [results]="chartData"
        [legend]="false"
        [legendPosition]="legendPosition"
        [trimLabels]="false"
        [showLabels]="false"
        [doughnut]="false">
      </app-custom-pie-chart>
    }
  </div>
</div>
