<ngx-charts-chart
  [view]="[width, height]"
  [showLegend]="legend"
  [legendOptions]="legendOptions"
  [activeEntries]="activeEntries"
  [animations]="animations"
  (legendLabelActivate)="onActivate($event, undefined, true)"
  (legendLabelDeactivate)="onDeactivate($event, undefined, true)"
  (legendLabelClick)="onClick($event)"
  >
  <svg:g [attr.transform]="transform" class="bar-chart chart">
    @if (xAxis) {
      <svg:g
        ngx-charts-x-axis
        [xScale]="xScale"
        [dims]="dims"
        [showLabel]="showXAxisLabel"
        [labelText]="xAxisLabel"
        [trimTicks]="trimXAxisTicks"
        [rotateTicks]="rotateXAxisTicks"
        [maxTickLength]="maxXAxisTickLength"
        [tickFormatting]="xAxisTickFormatting"
        [ticks]="xAxisTicks"
        [xAxisOffset]="dataLabelMaxHeight.negative"
        (dimensionsChanged)="updateXAxisHeight($event)"
        ></svg:g>
      }
      @for (group of results; track trackBy(index, group); let index = $index) {
        <svg:g
          [@animationState]="'active'"
          [attr.transform]="groupTransform(group)"
          >
          <svg:g
            app-custom-series-vertical
            [type]="barChartType.Stacked"
            [xScale]="xScale"
            [yScale]="yScale"
            [activeEntries]="activeEntries"
            [colors]="colors"
            [series]="group.series"
            [dims]="dims"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [tooltipTemplate]="tooltipTemplate"
            [showDataLabel]="showDataLabel"
            [dataLabelFormatting]="dataLabelFormatting"
            [seriesName]="group.name"
            [animations]="animations"
            [noBarWhenZero]="noBarWhenZero"
            (select)="onClick($event, group)"
            (activate)="onActivate($event, group)"
            (deactivate)="onDeactivate($event, group)"
            (dataLabelHeightChanged)="onDataLabelMaxHeightChanged($event, index)"
            />
          </svg:g>
        }
        @if (yAxis) {
          <svg:g
            ngx-charts-y-axis
            [yScale]="yScale"
            [dims]="dims"
            [showGridLines]="showGridLines"
            [showLabel]="showYAxisLabel"
            [labelText]="yAxisLabel"
            [trimTicks]="trimYAxisTicks"
            [maxTickLength]="maxYAxisTickLength"
            [tickFormatting]="yAxisTickFormatting"
            [ticks]="yAxisTicks"
            (dimensionsChanged)="updateYAxisWidth($event)"
            ></svg:g>
          }
          </svg:g>
        </ngx-charts-chart>
