
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 24px;
  margin-bottom: 24px;
}

.widget-grid-container {
  display: grid;
  grid-gap: 12px;
}

//.widget-card {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
