<div class="content-wrapper">
    <div class="header">
      <ng-content select="[filter]"></ng-content>
    </div>


  @if (isFilterLoading() || (loading$ | async)) {
    <app-loading></app-loading>
  }

  @if (error$ | async) {
    <div class="centered-div">
      <h2>{{'notification.no-data' | translate}}</h2>
    </div>
  }

  <div
    appWidgetGrid
    [pageType]="pageType()"
    [isRange]="isRange()"
    [ngStyle]="{display: isFilterLoading() ? 'none' : 'grid',  visibility: (loading$ | async) ? 'hidden' : 'visible'}"
    class="widget-grid-container"
    >
    <ng-template appWidget></ng-template>
  </div>
</div>
