
<div class="content-wrapper">
  <div class="content-header" *ngIf="!(filterLoading$ | async)">
    <span #appWidgetFilter style="display: none"></span>
    <app-date-picker-input [supportsDateRange]="supportsRange" *ngIf="supportsDateSelect"></app-date-picker-input>
  </div>

  <app-loading *ngIf="(filterLoading$ | async) || (loading$ | async)"></app-loading>

  <div class="centered-div" *ngIf="error$ | async">
    <h2>{{'notification.no-data' | translate}}</h2>
  </div>

  <div appWidgetGrid [ngStyle]="{display: (filterLoading$ | async) ? 'none' : 'grid', visibility: (loading$ | async) ? 'hidden' : 'visible'}" [isRange]="isRange" class="widget-grid-container">
    <ng-template appWidget></ng-template>
  </div>
</div>
