
<div class="content-wrapper">
  <div class="content-header" *ngIf="!filterLoading">
    <app-type-filters></app-type-filters>
    <app-date-picker-input></app-date-picker-input>
  </div>

  <app-loading *ngIf="filterLoading || dataLoading"></app-loading>

  <div class="centered-div" *ngIf="dataError">
    <h2>{{'notification.no-data' | translate}}</h2>
  </div>

  <ng-template [ngStyle]="{'display': dataLoading ? 'none' : 'block'}" [ngIf]="!dataError && !dataLoading" appWidget></ng-template>
</div>
