
@if ((filtersLoading$|async) === false) {
  @if (filterDatesEmpty === false) {
    @if ((filtersLoading$|async) === false) {
      <div class="header">
        <ng-content select="[header]"></ng-content>
      </div>
    }
    @if ((widgetDataError$|async) === false) {
      @if ((widgetsLoading$|async) === false) {
        <ng-content select="[body]"></ng-content>
      } @else {
        <app-loading></app-loading>
      }
    }
  } @else {
    <div class="centered-div">
      <h2 translate>notification.no-data</h2>
    </div>
  }
} @else {
  <app-loading></app-loading>
}
