
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 24px;
  margin-bottom: 24px;
}

.centered-div {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#import-label {
  margin-left: 14px;
  font-size: 14px;
  color: gray;
}

.text-item, .text-item:hover {
  cursor: default !important;
  background: transparent !important;
}
