<div class="detail-content">
  <div class="title-bar">
    <h1 class="title">{{'quap.detail.title' | translate}} @if (aspects.length === 1) {
      <span>- {{aspects[0].name}}</span>
    }</h1>

    <div class="button-bar">
      @if (getQuestionCount() > 0) {
        <button mat-icon-button (click)="switchToEvaluationView()" [title]="'quap.evaluation.title' | translate">
          <mat-icon>assignment</mat-icon>
        </button>
      }
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  @if (aspects.length === 1 && hasDescription(aspects[0])) {
    <div class="description">
      <p>{{aspects[0].description}}</p>
    </div>
  }

  @if (aspectHelp) {
    <div class="content">
      @if (!hasHelp()) {
        <span class="no-help"><p>{{'quap.detail.no-help' | translate}}</p></span>
      }
      @for (aspect of aspects; track aspect.id) {
        <div class="aspect">
          @if (aspects.length > 1 && aspectHelp[aspect.id].help.length > 0) {
            <span class="aspect-name">{{aspect.name}}</span>
          }
          @for (help of aspectHelp[aspect.id].help; track $index) {
            @if (help.answer > 1 && help.answer < 5) {
              <div [ngClass]="['severity', getColor(aspect.id, help.questionId, help.severity)]">
                <p>{{help.help}}</p>
                @if (help.links) {
                  <div class="link-container">
                    @for (link of help.links; track $index) {
                      <a href="{{link.url}}" target="_blank" rel="noopener noreferrer">{{link.name}}</a>
                    }
                  </div>
                }
              </div>
            }
          }
        </div>
      }
    </div>
  }
</div>
