
<app-department-graph-view (selectAspectEvent)="openDetailDialog($event)"></app-department-graph-view>

<ng-template #evaluationView>
  <app-evaluation-view [aspects]="getSelectedAspects()" [answers]="answers" [origin]="getOrigin()" [disabled]="disabled"></app-evaluation-view>
</ng-template>

<ng-template #detailView>
  <app-detail-view [aspects]="getSelectedAspects()" [answers]="answers" [origin]="getOrigin()"></app-detail-view>
</ng-template>

<ng-template #settingsView>
  <app-settings-view [disableGroupToggles]="disabled"></app-settings-view>
</ng-template>
