
<div [ngClass]="['import-date-footer', absolute ? 'absolute' : '', (hasData === false) ? 'no-data' : '']">
  <span translate [translateParams]="{ version: version }">footer.version</span>
  <span class="separator">|</span>
  <ng-container *ngIf="!skipLastImport">
    <span class="last-import-date" translate [translateParams]="{ date: importDate }">footer.last-import</span>
    <span class="separator">|</span>
  </ng-container>
  <span>
        <a href="{{'footer.help-website.url' | translate}}" target="_blank" rel="noopener noreferrer">{{'footer.help-website.name' | translate}}</a>
      </span>
  <span class="separator">|</span>
  <span>
        <a href="{{'footer.privacy-policy.url' | translate}}" target="_blank" rel="noopener noreferrer">{{'footer.privacy-policy.name' | translate}}</a>
      </span>
</div>
