<div [ngClass]="['import-date-footer', absolute ? 'absolute' : '', (hasData === false) ? 'no-data' : '']">
  <span>
    {{ 'footer.version' | translate: { version: version } }}
  </span>
  <span class="separator">|</span>
  @if (!skipLastImport) {
    <span class="last-import-date">
      {{ 'footer.last-import' | translate: { date: importDate } }}
    </span>
    <span class="separator">|</span>
  }
  <span>
    <a href="{{'footer.help-website.url' | translate}}" target="_blank" rel="noopener noreferrer">{{'footer.help-website.name' | translate}}</a>
  </span>
  <span class="separator">|</span>
  <span>
    <a href="{{'footer.privacy-policy.url' | translate}}" target="_blank" rel="noopener noreferrer">{{'footer.privacy-policy.name' | translate}}</a>
  </span>
  <span class="separator">|</span>
  <button class="language-switch" [matMenuTriggerFor]="langMenu">
    <span>
      {{ selectedLang.name }}
    </span>
    <mat-icon fontSet="material-symbols-outlined">expand_circle_down</mat-icon>
  </button>

  <mat-menu #langMenu xPosition="before" yPosition="above" class="custom-menu-container">
    @for (lang of languageOptions; track lang.code) {
      <span
        mat-menu-item
        class="language-menu-item"
        [class.selected]="lang.code === selectedLang.code"
        (click)="toggleLanguage(lang)"
        >
        {{lang.name}}
      </span>
    }
  </mat-menu>
</div>
