.import-date-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 12px;
  padding-bottom: 12px; // chrome doesn't support a bottom margin at the bottom of the site
  color: gray;
  .separator {
    margin: 0 6px;
  }
  a {
    color: gray;
  }
  &.absolute {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.no-data {
    position: fixed;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
  }
}

@media screen and (max-width: 756px) {
  .import-date-footer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    margin: 12px 0;
    .separator {
      display: none;
    }
  }
}

@media screen and (max-width: 1080px) {
  .import-date-footer.absolute {
    position: relative;
  }
}
