.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  & > div {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 8px;
    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  button {
    cursor: pointer;
    background-color: #42B0DF;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 8px;
    width: auto;
  }
}
