
.dialog {
  min-width: 600px;
  max-width: 800px;

  height: auto;
  max-height: 800px;


  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .dialog {
    min-width: 350px;

    max-height: 600px;
  }
}

@media screen and (max-width: 500px) {
  .dialog {
    min-width: 200px;

    max-height: 450px;
  }
}
