.settings-content {

  .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;

  }

  .button-bar {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: end;

    .close {
      color: #D7263D;
    }
  }

  .settings {
    display: grid;
    grid-template-columns: auto auto;

    * {
      padding: 10px 0;

      &:nth-child(2n) {
        justify-self: end;
      }
    }
  }
}
