
.chart-container {
  min-width: 200px;
  min-height: 200px;
  max-width: 450px;
  max-height: 450px;
}

.members-gender-tooltip {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  .total-date-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .series-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 4px 0;
    .color-indicator {
      border-radius: 2px;
      height: 12px;
      width: 12px;
      margin-right: 6px;
    }
    .series-value {
      padding-left: 6px;
      flex-grow: 1;
      text-align: end;
    }
  }
}
