@if (hierarchicalAnswer.value) {
  <div class="summary-grid">
    <app-summary-view
      [values]="hierarchicalAnswer.value.summary"
      [text]="hierarchicalAnswer.value.groupName"
      [thin]="true"
      [routerLink]="[hierarchicalAnswer.value.groupId]"
      [clickable]="true"
    ></app-summary-view>
  </div>
}
@if (renderDepartments) {
  <div class="summary-grid">
    @for (department of departments; track $index) {
      <app-summary-view
        [values]="department.summary"
        [text]="department.groupName"
        [thin]="true"
        [routerLink]="[department.groupId]"
        [clickable]="true"
      ></app-summary-view>
    }
  </div>
}
@if (!renderDepartments) {
  @for (child of hierarchicalAnswer.children; track $index) {
    <app-hierarchical-summary-views [hierarchicalAnswer]="child"
     />
  }
}
