.summary-grid {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 160px;
  justify-items: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}