
@if (isDepartment) {
  <app-department-graph-view (selectAspectEvent)="openDetailDialog($event)" />
}
@if (!isDepartment) {
  <app-canton-graph-view (selectAspectEvent)="openDetailDialog($event)" />
}

<ng-template #evaluationView>
  <app-evaluation-view [aspects]="getSelectedAspects()" [answers]="validatedAnswers" [origin]="getOrigin()" [disabled]="disabled" />
</ng-template>

<ng-template #detailView>
  <app-detail-view [aspects]="getSelectedAspects()" [answers]="validatedAnswers" [origin]="getOrigin()" />
</ng-template>

<ng-template #settingsView>
  <app-settings-view [disableGroupToggles]="disabled" />
</ng-template>
