<div class="app-container">
  <app-header></app-header>

  <ng-container *ngIf="(person.groups.length === 0)">
    <div class="no-groups-info">
      <div class="no-groups-info-header">
        <span>{{'notification.no-groups.title' | translate}}</span>
        <i class="icon-warning"></i>
      </div>
      <span>{{'notification.no-groups.description' | translate}}</span>
    </div>
  </ng-container>

  <div class="router-wrapper" *ngIf="(person.groups.length > 0)">
    <router-outlet></router-outlet>
  </div>

  <app-footer
    [absolute]="loading"
    [hasData]="!filterDatesEmpty"
    [importDate]="latestDate"
    [skipLastImport]="filterLoading"
  ></app-footer>
</div>
