
// THESE VALUES ALSO NEED TO BE ADJUSTED IN THE summary-view SVG IMAGE
$quap-color-red: #D95050;
$quap-color-orange: #D98A50;
$quap-color-yellow: #ADD950;
$quap-color-green: #50D96E;
$quap-color-gray: #C4C4C4;



.widget-card {
  padding-top: 5px;

  .card-header {
    .button-menu {
      display: flex;
      flex-direction: row;

      padding-right: 12px;

      button {
        margin-left: 10px;
      }
    }
  }
}

app-info {
  margin-top: 1px;
  align-self: center;
}
