<div class="widget-card">
  <div class="card-header">
    <h2 class="chart-title">{{ 'quap.title' | translate }}</h2>
    <div class="button-menu">
      <button (click)="openEvaluationDialog()">EDIT</button>
      <button (click)="openDetailDialogue(-1)">OVERVIEW</button>
    </div>
  </div>
  <div class="chart-container">
    <app-department-graph-view (selectAspectEvent)="openDetailDialogue($event)"></app-department-graph-view>
  </div>
</div>

<ng-template #evaluationView>
  <app-evaluation-view [aspects]="questionnaire.aspects" [answers]="answers"></app-evaluation-view>
</ng-template>

<ng-template #detailView>
  <app-detail-view [aspects]="questionnaire.aspects"></app-detail-view>
</ng-template>
