<div class="menu-container">
  <div class="picker-side-menu">
    <mat-list>
      <h3 matSubheader>{{ 'datePicker.date.date' | translate }}</h3>
      @for (dateOption of options.dateOptions; track $index) {
        <mat-list-item (click)="onQuickSelect(dateOption.dateSelection, $event)"
          [disabled]="!dateOption.available"
          [ngClass]="{ 'disabled': !dateOption.available}">
          {{ dateOption.label | translate }}
        </mat-list-item>
      }
      @if (supportsDateRange) {
        <mat-divider></mat-divider>
        <h3 matSubheader>{{ 'datePicker.range.range' | translate }}</h3>
        @for (rangeOption of options.rangeOptions; track $index) {
          <mat-list-item (click)="onQuickSelect(rangeOption.dateSelection, $event)"
            [disabled]="!rangeOption.available"
            [ngClass]="{ 'disabled': !rangeOption.available}">
            {{ rangeOption.label | translate }}
          </mat-list-item>
        }
      }
    </mat-list>
    <mat-divider [vertical]="true"></mat-divider>
  </div>
  <div class="picker-content">
    <div class="date-selection-container" (click)="$event.stopPropagation()">
      @for (d of availableDates; track d) {
        <div class="selectable-item {{d.selected ? 'selected' : ''}}" (click)="selectItem(d)">
          {{d.date.format('DD MMM YY')}}
        </div>
      }
    </div>
    <div style="flex-grow: 1"></div>
    <div class="picker-buttons">
      <button mat-button>{{ 'button.cancel' | translate }}</button>
      <button mat-button (click)="onConfirm()">{{ 'button.confirm' | translate }}</button>
    </div>
  </div>
</div>
