<div class="input-wrapper">
  <div class="input-container quickselect" (click)="quickSelect()">
    {{ 'datePicker.range.beggingOfLastYear' | translate }}
  </div>
  <form class="input-container" [matMenuTriggerFor]="datePickerMenu" (menuOpened)="onOpen()" (menuClosed)="onClose()">
    <input #dateInput type="text"
      id="date"
      autocomplete="off"
      placeholder=""
      readonly
      [value]="displayValue()">
    <i class="icon-arrow-small-down"></i>
  </form>
</div>
<mat-menu class="mat-menu-large-panel custom-menu-container" [hasBackdrop]="false" #datePickerMenu yPosition="below" xPosition="before">
  @if (dateSelection() && availableDates() && menuOpen()) {
    <app-date-picker [dateSelection]="dateSelection()!" [availableDates]="availableDates()!" [supportsDateRange]="supportsDateRange()" />
  }
</mat-menu>
