
<div class="card" *ngIf="!loading">
  <div class="card-header">
    <h2>{{ 'quap.overview.title' | translate }}</h2>
  </div>

  <div class="card-content" class="regions-gap">
    <div *ngFor="let nested of data">
      <app-hierarchical-summary-views [hierarchicalAnswer]="nested"></app-hierarchical-summary-views>
    </div>
    <div class="summary-grid">
      <div class="no-data" *ngIf="data.length === 0">
        <span>{{ 'quap.overview.no-data' | translate }}</span>
      </div>
    </div>
  </div>
</div>
