.app-container {
  padding: 12px 12px 0 12px;
}

#robot {
  position: absolute;
  transform: rotate(180deg) translateX(-50%);
  z-index: -1;
  width: 36px;
  left: 50%;
  top: 2px;
  transition: 1s ease-in-out;
}

.import-date-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 12px 0;
  color: gray;
  .separator {
    margin: 0 6px;
  }
  a {
    color: gray;
  }
  &.absolute {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.no-data {
    position: fixed;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
  }
}
.department-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);

  span {
    font-weight: normal;
    margin-left: 4px;
  }
}
.centered-div {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: relative;
  width: 100%;
  height: 56px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 6px;

  #hc-logo {
    height: 38px;
    padding-left: 12px;
  }
  .app-title {
    padding-left: 6px;
  }

  .person-container {
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 100%;
    align-items: center;
    div {
      padding-right: 12px;
      text-align: end;
    }
    span, h3 {
      text-align: end;
    }
    span{
      font-size: 14px;
      font-weight: 600;
      color: gray;
    }
  }
}

#import-label {
  margin-left: 14px;
  font-size: 14px;
  color: gray;
}

.text-item, .text-item:hover {
  cursor: default !important;
  background: transparent !important;
}

.loading-div {
  i {
    color: #BFC2C3;
    font-size: 64px;
    animation: rotate 2s infinite;
  }
}

.no-groups-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 512px;
  background-color: #cfa12b;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 4px;
  .no-groups-info-header {
    display: flex;
    span {
      font-weight: 600;
      flex-grow: 1;
    }
    margin-bottom: 6px;
  }
}

#person-name, #department-name, #person-department-info-divider {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 756px) {
  .import-date-footer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    margin: 12px 0;
    .separator {
      display: none;
    }
  }
}

@media screen and (max-width: 856px) {
  .navbar {
    .department-name {
      display: none !important;
    }
  }
  #department-name, #person-department-info-divider {
      display: block !important;
  }
  .no-groups-info {
    width: 296px !important;
  }
}

@media screen and (max-width: 500px) {
  .person-container {
    h3 {
      display: none !important;
    }
  }
  #person-name {
    display: block !important;
  }
}
