$orange: #cfa12b;
$blue: #2b59cf;
$gray: gray;
.info-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 16px;
  }
  .message-container {
    position: absolute;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    right: 0;
    width: 300px;
    direction: ltr;
    padding: 12px;
    display: flex;
    border-radius: 4px;
    pointer-events: none;
    color: white;
    z-index: 200;

    &.bottom {
      top: 24px;
    }

    &.top {
      bottom: 24px;
    }

    &.bottom-right {
      top: 24px;
      left: 0px;
      right: unset;
    }
  }

  &.orange {
    i {
      box-shadow: 0 0 6px transparentize($orange, 0.9);
      color: $orange;
    }
    .message-container {
      background-color: $orange;
    }
  }
  &.blue {
    i {
      box-shadow: 0 0 6px transparentize($blue, 0.9);
      color: $blue;
    }
    .message-container {
      background-color: $blue;
    }
  }

  &.gray {
    i {
      box-shadow: 0 0 6px transparentize($gray, 0.9);
      color: $gray;
    }
    .message-container {
      background-color: $gray;
    }
  }

  &.small {
    i {
      font-size: 12px;
    }
    .message-container {
      font-size: 0.8rem;
      padding: 8px;
    }
  }
}

