<div class="widget-card">
  <div class="card-header">
    <h2 class="chart-title">Entwicklungen Teilnehmende (Tabelle)</h2>
  </div>
  <div class="chart-container">
    <table>
      <thead>
        <tr>
          <th class="thin">&nbsp;</th>
          <th class="thin">&nbsp;</th>
          <th><input [(ngModel)]="nameFilter"></th>
          <th *ngFor="let year of exampleData.years">{{year}}</th>
          <th>1J</th>
          <th>3J</th>
          <th>∅5J</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of getFilteredData()" [ngStyle]="{'color': group.missing ? 'gray' : 'inherit'}">
          <td class="thin">
            <button [ngStyle]="{'display': group.type === 'Group::Region' ? 'block' : 'none'}" (click)="toggleRegion(group.id)">></button>
          </td>
          <td class="thin"><input type="checkbox"></td>
          <td>{{group.name}}</td>
          <td *ngFor="let number of group.absoluteMemberCounts">{{number || 'unknown'}}</td>
          <td *ngFor="let average of group.relativeMemberCounts"><app-statistics-cell [value]="average || 'unknown'"></app-statistics-cell></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
