.gamification-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 26px rgba(211, 211, 211, 0.2);
  .header {
    cursor: pointer;
    display: grid;
    grid-template-columns: 12fr 1fr;
    align-items: center;
    justify-content: space-between;
    font-weight: 800 !important;
    padding: 16px;
    .title {
      display: flex;
      gap: 8px;
    }
    p, i {
      font-weight: 800;
    }
    i {
      scale: 0.7;
      translate: 6px -1px;
      rotate: -90deg;
      &.rotate {
        scale: 0.8;
        translate: 2px 2px;
        rotate: 0deg;
      }
    }
  }
  .content {
    border-top: solid #D9D9D9 1px;
    padding: 24px;
    padding-bottom: 34px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .list-item {
      display: grid;
      grid-template-columns: auto auto 1fr auto;
      grid-gap: 5px;
      align-items: center;
    }
  }
}
